{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "tmpDir": ".build/infections",
    "logs": {
        "text": ".build/infection/infection-log.txt",
        "stryker": {
            "report": "/^(master|develop|([0-9]+\\.)+x)$/"
        }
    },
    "mutators": {
        "@default": true
    }
}
