{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "tmpDir": "./infections",
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
