{
    "ignoreMsiWithNoMutations": true,
    "minCoveredMsi": 86,
    "minMsi": 83,
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "tmpDir": ".build/infection/",
    "logs": {
        "text": ".build/infection/infection-log.txt",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
