<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".build/phpunit/unit.cache"
         colors="true">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Network Address Types Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
